* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: url("https://i.ibb.co/JB8v7xq/pexels-francesco-ungaro-998641.jpg");
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
}

h1, h2, h3, h4 {
    color: SeaGreen;
}

p, li, h3, span {
    font-size:18px;
    color: seagreen;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
}

iframe {
    border: none;
}

fieldset {
    color: seagreen;
    border-color: seagreen;
}

.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    color: seagreen;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.latest {
    border-top: 2px solid seagreen;
}
.latest img {
    border: 1px solid seagreen;
}
.blog_post {
    border-top: 2px solid seagreen;
}
.footer-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

li{
    list-style-type: none;
}

a:link{
    color:seagreen
}