* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: url("https://i.ibb.co/JB8v7xq/pexels-francesco-ungaro-998641.jpg");
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
}

p, li, span, time {
    font-size:18px;
    color: seagreen;
}
h1, h2, h3, h4 {
    color: seagreen;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
}

iframe {
    border: none;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

fieldset {
    color: seagreen;
    border-color: seagreen;
}

.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    color: seagreen;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.footer-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

li{
    list-style-type: none;
}

.progress-bar {
    height: 25px;
    width: 500px;
    background-color: #e0e0e0;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
}

.bar-fill {
    height: 100%;
    text-align: center;
}

#freecodecamp-bar {
    border: 4px solid seagreen;
    max-width: 100%;
}

#freecodecamp-fill {
    background-color: seagreen;
    width: 34.9%;
}

.bar-fill > span {
  position: relative;
  top: 15%;
  left: 115%;
  color: black;
}

.blog-container, .game-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.blog-card, .game-card {
  background-color: #000000;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 5px 15px white;
}

.blog-card p, .game-card p {
  text-align: left;
}

.game-card.golden-sun {
  box-shadow: 0 5px 15px gold;
}

.game-card.runescape {
  box-shadow: 0 5px 15px green;
}

.game-card.ffxi {
  box-shadow: 0 5px 15px brown;
}